.responsive-container {
    display: flex; 
padding: 1rem; 
justify-content: space-between; 
align-items: center; 
background-color: blue;

}

.responsive-button {
    display: flex; 
justify-content: center; 
align-items: center; 
width: 2rem; 
height: 2rem; 

}

